<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.seungyeop_lee.blog_example.architecture_in_spring.mapbase_with_mybatis.mapper.BookMapper">
    <insert id="create" keyProperty="bookId" keyColumn="book_id" useGeneratedKeys="true" parameterType="map">
        INSERT INTO book (TITLE, ISBN, PUBLISHED_DATE)
        VALUES (#{title}, #{isbn}, #{publishedDate});
    </insert>

    <select id="readById" resultType="map">
        SELECT *
        FROM book
        WHERE BOOK_ID = #{bookId}
    </select>

    <select id="readByIsbn" resultType="map">
        SELECT *
        FROM book
        WHERE ISBN = #{isbn}
    </select>
</mapper>
